{% extends "layout.html" %}
{% block title %}Transactions{% endblock %}
{% block content %}
<h1 class="pt-5 pb-2">Transactions</h1>
      <p class="lead alert alert-warning">All the Transactions done a present here</p>
	  <p class="ml-4"><a href="{{ url_for('auth.landing_page') }}">Return to Profile</a></p>
		<table class="table">
			<tr>
				<th>Source Account Id:</th>
				<th>Destination Account Id:</th>
				<th>Amount</th>
				<th>Type</th>
				<th>Memo</th>
                <th>Balance</th>
                <th>Performed on</th>
			</tr>
			<!-- here is a for-loop to give us all the socks -->
			{% for trans in Transactions %}
			<tr>
				<td>{{ trans.account_src_id }}</td>
				<td>{{ trans.account_dest_id }}</td>
				<td>${{ trans.balance_change }}</td>
				<td>{{ trans.transaction_type }}</td>
				<td>{{ trans.memo }}</td>
				<td>${{ trans.expected_total }}</td>
				<td>{{ trans.created }}</td>
			</tr>
			{% endfor %}
		</table>
{% end block %}