{% extends "layout.html" %}
{% block title %}Withdraw Money{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% from "account_dropdown.html" import account_dropdown %}
<div class="container-fluid">
    <div class="h1">Withdraw from Account</div>
    <div>
        <form method="POST">
            <div class="form-group mb-3">
                <label class="form-label" for="acc_id">Account ID :</label>
                {{ account_dropdown() }}
                <input class="form-control" id ="acc_id" name="acc_id" placeholder="type account id" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="type">Account Type :</label>
                <input class="form-control" id="type" name="type" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="amt">Amount :</label>
                <input class="form-control" id="amt" name="amt" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="memo">Memo :</label>
                <input class="form-control" id="memo" name="memo" />
            </div>
            <input type="submit" class="btn btn-primary" value="Withdraw Amount" />
        </form>
        {% if resp %}
        <div id="output">
            {{resp}}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}